<%= form_with(model: @user, local: true, url: user_path ) do |form| %>
<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= @user.errors.count %>件のエラーがあります。</h2>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="container">
  <font size="10rem"><%= @user.name %></font>

  <table align="center">
    <tr>
      <td>
    <%= image_tag(@user.avatar.url, size: "75") if @user.avatar && @user.avatar.url %>
      </td>
      <td>
    <%= form.file_field :avatar %><br>
    <%= form.hidden_field :avatar_cache %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :name %>
      </td>
      <td>
        <%= form.text_area :name, size: "60" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :email %>
      </td>
      <td>
        <%= form.text_area :email, size: "60"  %>
      </td>
    </tr>



    <tr>
      <td colspan="2">
    <%= form.submit "更新する", class: 'btn btn-success' %>
      </td>
    </tr>
  </table>

<% end %>
</div>
