<%= form_with(model: @picture, local: true, url: choose_new_or_edit ) do |form| %>
<% if @picture.errors.any? %>
<div id="error_explanation">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
        <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="container">
<div class="picture_content">
<div class="form-group">
    <%= form.label "画像をアップロード" %>
    <% if @picture.image.present? %>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    <% end %>
    <%= form.file_field :image, class: "form-control" %><br>
    <%= form.hidden_field :image_cache %>
    <%= form.text_area :content, class: "form-control", placeholder: "コメント" %><br>
    <%= form.submit "アップロード", class: 'btn btn-success' %>
<% end %>
 </div>
</div>
</div>
