<!DOCTYPE html>
<html>
  <head>
    <title>Pictgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <header>
      <ul>

      <% if logged_in? %>
      <li><%= link_to current_user.name, user_path(current_user.id) %></li>
      <li><%= link_to "ホーム", pictures_path %></li>
      <li><%= link_to "お気に入り", favorites_path %></li>
      <li><a href="#">友達を検索</a></li>
      <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>

    <% end %>

    </ul>
  </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>

<div class="push"></div>

  <footer>
    <div class="container">
      <p class="text-muted">
        <span>Pictgramについて</span>
        <span>サポート</span>
        <span>プレス</span>
        <span>API</span>
        <span>求人</span>
        <span>プライバシー</span>
        <span>利用規約</span>
        <span>ディレクトリ</span>
        <span>プロフィール</span>
        <span>ハッシュタグ</span>
        <span>言語</span>
      </p>
      </div>
  </footer>
  </body>
</html>
